VITE_SUPABASE_URL=https://czetrfxhyyhcnbqiojzy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6ZXRyZnhoeXloY25icWlvanp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzMDExODYsImV4cCI6MjEwNTg3NzE4Nn0.6MS3u-F0sOp2Dia68pFgTIdrnf4ouvXbCKx0HjExMqU
